*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{

background: #5CBAFF;

padding: 8px 0;
}
header nav{

width: 50%;

margin: auto;

}
header nav ul{
    
display: flex;
    
list-style: none;
    
justify-content: space-between;
    
align-items: center;
}
header nav ul li{
    
}
header nav ul li a{
    
text-decoration: none;
    
color: #ffff;
    
font-size: 16px;
    
text-transform: uppercase;
}
header nav ul li a img{
    
}
.content{
height: 88vh;
display: flex;
}
.feature_image{

width: 40%;

background: #5CBAFF;
}
.feature_image img{

}
.contact_form{

width: 60%;

background: #0093FF;

display: flex;

justify-content: center;

align-items: center;
}
.contact{

width: 40%;
}
.contact h1{

color: #ffff;
}
.contact p{

color: #ffff;

margin: 10px 0 30px 0;
}
.contact h5{
    
color: #ffff;
    
font-size: 20px;
    
margin-bottom: 10px;
}
.contact form{

}
.contact form input{
    
width: 100%;
    
margin-bottom: 10px;
    
padding: 10px 0 10px 10px;
    
border: none;
}
.contact form input[type="submit"]{
width: auto;
padding: 0;
color: #5CBAFF;
padding: 10px 20px;
}
.social_content{
    width: 100%;
}
.social_content ul{

}
.social_content ul li{

list-style: none;
}
.social_content ul li h5{
    margin-top: 15px;
font-size: 18px;
}
.social_content ul li a{
    
text-decoration: none;  
color: #fff;
font-size: 15px;
}